cachetools==2.0.1
certifi==2017.7.27.1
chardet==3.0.4
dill==0.2.7.1
Django==1.11.23
future==0.16.0
google-auth==1.0.2
google-cloud-core==0.27.1
google-cloud-vision==0.27.0
google-gax==0.15.14
googleapis-common-protos==1.5.2
grpcio==1.6.0
idna==2.6
olefile==0.44
Pillow==4.2.1
ply==3.8
protobuf==3.4.0
pyasn1==0.3.4
pyasn1-modules==0.1.4
pyreadline==2.1
pytz==2017.2
requests==2.18.4
rsa==3.4.2
six==1.10.0
urllib3==1.22
