{% extends 'base.html' %}

{% block content %}

<div class="album text-muted">
  <div class="container">
        <h2 class="text-center">Photo Details</h2>
        <div class="card">
            <img class="card-img-top rounded mx-auto d-block" src="{{ photo.modified_image.url }}">
            <div class="card-block">
              <h4 class="card-title"> {{ photo.title }}</h4>
              <p class="card-text">{{ photo.description }}</p>
            </div>
        </div>
  </div>
</div>

<!-- Nav tabs -->
<div class="container">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#labels">Labels</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#faces">Faces</a>
    </li>
  </ul>
</div>
<!-- Nav panes -->

<div class="tab-content">
  <div class="tab-pane fade show active" id="labels" role="tabpanel">
    <div class="container">
      <table class="table table-striped">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Description</th>
            <th>Score</th>
          </tr>
        </thead>
        <tbody>
        {% for label in lables_details %}
          <tr>
            <th>{{ forloop.counter }}</th>
            <td>{{ label.labels }}</td>
            <td>{% widthratio label.score 1 100 %}% </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="tab-pane" id="faces" role="tabpanel">
    <div class="container"> 
      {% if faces_details %} 
      {% for face in faces_details %}
      <table class="table table-striped">       
        <thead class="thead-inverse">
          <tr>
            <th colspan="2">Face #{{ forloop.counter }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Anger</th>
            <td> {{ face.anger }} </td>
          </tr>
          <tr>
            <th>Joy</th>
            <td> {{ face.joy }} </td>
          </tr>
          <tr>
            <th>Surprise</th>
            <td> {{ face.surprise }} </td>
          </tr>
          <tr>
            <th>Sorrow</th>
            <td> {{ face.sorrow }} </td>
          </tr>
        </tbody>
      </table>
      {% endfor %}
      {% else %}
        <h4 class="text-center">No faces were deceted in the image.</h4>
      {% endif %}
    </div>
  </div>
</div>

<div class="text-center">
  <a href="{% url 'photo_delete' pk=photo.id %}" class="btn btn-danger">Delete photo</a>
</div>

{% endblock content %}
