{% extends 'base.html' %}

{% block content %}

<div class="album text-muted form">
    <div class="container">
        <div class="page-header">
            <h2 class="text-center add">Add a new photo</h2>
        </div>
            <form  method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group row">
                    <label for="title">Title:</label>
                    <input type="text" id="title" name="title"  class="form-control" required>
                </div>
                <div class="form-group row">
                    <label for="description">Description:</label>
                    <textarea rows="5" id="description" name="description"  class="form-control" required></textarea>
                </div>
                <div class="form-group row">
                    <label for="usr">Photo:</label>
                    <input type="file" accept ="image/*" id="image" name="image" class="form-control" required>
                </div>
                <div class="form-group row">
                    <button type="submit" class="btn btn-success">Save it</button>
                </div>
            </form> 
      </div>
</div>

{% endblock content %}
